.track_info_container {
    display: inline-flex;
    font-size: 0.8em;
    width: 100%;
}

.track_spacer {
    padding: 0 5px;
}

.add_track {
    cursor: pointer;
    margin-left: auto;
    align-self: center;
    background-color: rgba(20, 19, 27, 0);
    color: white;
    border: 0;
    width: 3em;
    height: 3em;
}

.add_track:hover {
    border-radius: 50%;
    border: 1px solid rgb(117, 67, 197);
}