.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body {
  background-image: url(./pictures/purple.jpg);
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  text-align: center;
}

.header {
  background-color: rgb(20, 19, 27);
  margin-top: 0;
  height: 60px;
  padding-top: 15px;
}

.header span {
  color: rgb(117, 67, 197);
}

.results_container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer {
  margin-top: 200px;
}

.footer:hover {
  color: black;
}

@media only screen and (max-width: 500px) {
	.results_container {
    flex-direction: column;
	}
}